{% extends 'blog/main.html' %}

{% block content %}


 <!-- Blog Entries Column -->
      <div class="col-md-8">
{% for searchpost in posts %}

        <h3 class="my-4">Page Heading
          <small>Secondary Text</small>
        <!-- Blog Post -->
        <div class="card mb-4">
          <img class="card-img-top" src="{{searchpost.photo.url}}" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">{{ searchpost.title }}</h2>
            <p class="card-text">{{ searchpost.body }} !</p>
          </div>
          <div class="card-footer text-muted">
            {{ searchpost.datecreated }}
            <span class="text-info mr-2"> {{ searchpost.author }} </span>
          </div>
        </div>


      
      <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
          <li class="page-item">
            <a class="page-link" href="#">&larr; Older</a>
          </li>
          <li class="page-item disabled">
            <a class="page-link" href="#">Newer &rarr;</a>
          </li>
        </ul>

      </div>
      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">
{% endfor %}



{% endblock %}