{% extends 'blog/main.html' %}
{% block content %}
        
        <!-- Create Post -->
        <div class="card mb-2">
          <div class="card-body">
            Update Blog Post
            <h2 class="card-title"></h2>
            <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary"> UPDATE
            </button>
          </form>
          </div>
        </div>
          </p>
          

{% endblock %}