{% extends 'blog/main.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <h2>Comments <div class="pull-right">

             <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="SUBMIT" class="btn btn-primary">Add a comment </button> 
            </form>
            <div></h2>
    </div>

    {% for comment in commentxx %}
    <div class="row" id="addcomment" style="display: none;">
        <form>
            <textarea class="form-control" placeholder="Comment content..."></textarea><br/>
            <button class="btn btn-primary">Send</button>
        </form>
    </div>
    <hr>
    <div class="row comment">
        <div class="head">
            <small><strong class='user'>{{comment.author}}</strong> {{comment.created}}</small>
        </div>    
        <p>{{ comment.text }} </p>
    </div>


{% endfor %}
{% endblock %}