{% extends 'blog/main.html' %}

{% block content %}


 <!-- Blog Entries Column -->
      <div class="col-md-8">

        <h3 class="my-4">Page Heading
          <small>Secondary Text</small>
        <!-- Blog Post -->
        <div class="card mb-4">
          <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">{{ post.title }}</h2>
            <p class="card-text">{{ post.body }} !</p>
          </div>
          <div class="card-footer text-muted">
            {{ post.datecreated }}
            <span class="text-info mr-2"> {{ post.author }} </span>
          </div>
        </div>

         <!-- Comment Section -->
         {% for comment in comments %}
        <div class="card mb-4">
          <div class="card-body">
            <h2 class="card-title">{{ comment.text }}</h2>
            <p class="card-text"></p>
          </div>
          <div class="card-footer text-muted">
            {{ comment.created }}
            <span class="text-info mr-2"> {{ comment.author }} </span>
          </div>
        </div>
          {% endfor %}

                <!-- Create Comment -->
        <div class="card mb-2">
          <div class="card-body">
            Create Comment
            <h2 class="card-title"></h2>
            <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary"> CREATE
            </button>
          </form>
          </div>
        </div>
          </p>       

      
      <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
          <li class="page-item">
            <a class="page-link" href="#">&larr; Older</a>
          </li>
          <li class="page-item disabled">
            <a class="page-link" href="#">Newer &rarr;</a>
          </li>
        </ul>

      </div>
      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">




{% endblock %}